<!-- templates/simplims_app/ordem_servico/lista.html -->
{% extends "base.html" %}
{% block content %}
<h1>Lista de Ordens de Serviços</h1>
<div class="d-flex align-items-center mb-3 gap-2">
    <a href="{% url 'ordem_servico_criar' %}" class="btn btn-primary">Nova Ordem de Serviço</a>

    <form method="get" class="mb-0 flex-grow-1">
        <input type="text"
               name="q"
               value="{{ request.GET.q }}"
               placeholder="Buscar..."
               class="form-control">
    </form>
</div>
<table class="table table-striped mt-3">
    <thead>
    <tr>
        <th>Id</th>
        <th>Empresa</th>
        <th>Serviços</th>
        <th>Observações</th>
        <th>Data de Emissão</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    {% for item in object_list %}
    <tr>
        <td>{{ item.pk }}</td>
        <td>{{ item.empresa }}</td>
        <td>
            {% for servico_contratado in item.servicocontratado_set.all %}
            <span class="badge text-bg-secondary">
            {{ servico_contratado.servico.descricao }}
            </span>
            {% empty %}
            <span class="text-muted">Nenhum serviço</span>
            {% endfor %}
        </td>

        <td>{{ item.observacoes|default:"- - -" }}</td>
        <td>{{ item.data_emissao|date:"d/m/Y" }}</td>
        <td>
            <a href="{% url 'servico_contratado_criar' %}?ordem_servico={{ item.id }}" class="btn btn-sm btn-success">
                Adicionar Serviço
            </a>
            <a href="{% url 'ordem_servico_analise' item.id %}" class="btn btn-info btn-sm">
                Análise
            </a>
            &nbsp;
            <a href="{% url 'ordem_servico_editar' item.pk %}"
               class="btn btn-sm btn-warning">Editar</a>
            <a href="{% url 'ordem_servico_excluir' item.pk %}"
               class="btn btn-sm btn-danger">Excluir</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="2">Nenhuma ordem de serviço cadastrada.</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
